<link rel="stylesheet" href="resets.css">
<link rel="stylesheet" href="Lato-fonts.css">
<link rel="stylesheet" href="index.css">



<div class="ui">
  <div class="container">
  <h3>Status</h3>
  <div class="ui two column stackable grid">
    <div class="column">
      <div class="segment">
        <div class="divided selection list grid"><ul>
        <% for question_no, status in status_dict.items %}
        <li class="grid">
          <a class="item" href="{% url 'coding:challenge' question_no=question_no %}">
            <div class="question-num">Challenge 1<!--{{ question_no }}--></div>
            {% if status == 'S' %}
              <div class="green horizontal label right floated status">Solved</div>
            {% elif status == 'PS' %}
              <div class="olive horizontal label right floated status
              ">Partially Solved</div>
            {% elif status == 'U' %}
              <div class="grey horizontal label right floated status">Unattempted</div>
            {% endif %}
          </a></li>

        {% empty %}
          <h2 class="grid no-info">No information to display.</h2>
        {% endfor %}
        </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="segment">
        <h3 class="grey header">Instructions</h3>
        <ul class=" instr">
          <li>Some instruction 1</li>
          <li>Some instruction 2</li>
        </ul>
      </div>
    {% if is_time_over %}
      <div class="inverted segment">
        <h3 class="red header center aligned">You've run out of time.</h3>
      </div>
    {% else %}
      <div class="enter">
      <a class="primary button huge" href="{% url 'coding:challenge' question_no=1 %}">Enter Arena</a></div>
    {% endif %}
    </div>
  </div>
</div>
</div>